* {
    box-sizing: border-box;
  }
  body {
    font-family: "Lato", sans-serif;
    margin: 0;
  }
  h2 {
    text-align: center;
    margin-top: 20px;
  }

  .bg {
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #3498db, #2ecc71); /* Gradient background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for depth */
    position: relative;
    overflow: hidden; /* Ensure inner elements don’t overflow */
  }
  
  .bg::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0.1) 1px,
        transparent 1px
      ),
      linear-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px);
    background-size: 20px 20px; /* Adjust grid size */
    pointer-events: none; /* Allow interactions with elements beneath */
    z-index: 1; /* Ensure the overlay stays on top */
  }
  .tab {
    float: left;
    border: 1px solid #cccccc26;
    background-color: #f1f1f1;
    width: 25%;
    height: 100%;
    overflow-y: auto;
  }
  .tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 15px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
  }
  .tab button:hover {
    background-color: #ddd;
  }
  .tab button.active {
    background-color: #ccc;
  }
  .tabcontent {
    float: left;
    padding: 15px;
    border: 1px solid #ccc;
    width: 75%;
    border-left: none;
    height: 340px;
    overflow-y: auto;
  }
  .pricing-wrapper {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
  }
  .pricing-list {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    width: 280px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .id-price {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  ul li {
    margin: 8px 0;
  }
  ul li i {
    color: green;
    margin-right: 8px;
  }
  .gs-btn a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  .gs-btn a:hover {
    background-color: #0056b3;
  }